:root{
    --main: #176BCC;
    --dark: #0A203A;
    --alt: #1D66ED;
    --accent: #FD8224;
}

body {
    background-color: var(--main);
}

input{
    margin: 10px;
}

select{
    margin: 10px;
}

h1{
    text-align: center;
}

a{
    border: 10px;
}

.header{
    background-color: var(--dark);
    color: white;
    padding: 20px 0px;
    width: 100%;
}

.form{
    color: white;
    background-color: var(--alt);
    overflow: hidden;
    padding: 10px 100px;
    display: table;
    margin-top: 100px;
    font-size: 16px;
}

.button{
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 10px;
    text-decoration:none;
}

.side_bar{
    color: white;
    background-color: var(--alt);
    padding: 20px 20px;
    display: table;
    font-size: 16px;
    left: 10px;
}