:root{
    --main: #176BCC;
    --dark: #0A203A;
    --alt: #1D66ED;
    --accent: #FD8224;
    --darkalt: #15447B
}

body {
    background-color: var(--main);
}

input{
    margin: 10px;
}

select{
    margin: 10px;
}

h1{
    text-align: center;
}

h2{
    color: white;
}

a{
    border: 10px;
}

label{
    color: white;
    font-size: 16px;
}

table{
    text-align: center;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

th{
    background: var(--accent);
}

tr:nth-child(odd){
    background-color: var(--dark);
}

tr:nth-child(even){
    background-color: var(--darkalt)
}

.header{
    background-color: var(--dark);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 5px solid var(--accent);
}

.content{
    background-color: var(--alt);
    margin: 110px 20px 50px;
}

.form{
    color: white;
    background-color: var(--alt);
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.buttonBig{
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 10px;
    text-decoration:none;
}

.buttonSmall{
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 10px;
    text-decoration:none;
}

.info{
    color: white;
    font-size: 16px;
    padding: 10px 25px;
}