<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <title>Auction Listings</title>
</head>
<body>
<!--Header-->
<div class="header">
    <a class="buttonBig" style="position: fixed; margin: 20px 20px 20px 90%" href="/" role="button">Sign Out</a>
    <button class="buttonBig" style="position: fixed; margin: 20px 20px 20px 2%" role="button" onclick="history.back()">Back</button>
    <h1>Lion Auction</h1>
</div>

<!--Contents-->
<div class="content">
    <!--Auction Listings-->
    <h2 style="text-align: center">Auction Listings: {{ data.category }}</h2>
    <form style="text-align: center" classaction="" method="post">
        <label>Select Category:</label>
        <select name="category" id="category">
            <option value=""></option>
            <option value="Root">All</option>
            {%  for category in data.categories %}
                <option value="{{ category }}">{{ category }}</option>
            {%  endfor %}
        </select>
        <input type="submit" class="buttonSmall" name="button" value="Submit">
    </form>
    <table style="width: 90%;">
        <tr>
            <th scope="col"> Auction Title</th>
            <th scope="col"> Product Name</th>
            <th scope="col"> Quantity</th>
            <th scope="col"> Status</th>
            <th scope="col"> Highest_Bid</th>
            <th scope="col"> </th>
        </tr>
        <tbody>
        {% for auction in data.listings%}
            <tr>
                <td> {{ auction[3] }} </td>
                <td> {{ auction[4] }} </td>
                <td> {{ auction[6] }} </td>
                {% if auction[9]==0 %}
                <td> Inactive </td>
                {% elif auction[9]==1 %}
                <td> Active </td>
                {% elif auction[9]==2 %}
                <td> Sold </td>
                {% endif %}
                {% if auction[11]=='No Bids' %}
                <td> {{ auction[11] }} </td>
                {% else %}
                <td> ${{ auction[11] }} </td>
                {% endif %}
                <td><form method="post"><button type="submit" class="buttonSmall" name="bid_button" value=" {{ auction[1] }}">More Info / Bid</button></form></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>