<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <title>Auction Listings</title>
</head>
<body>
<!--Header-->
<div class="header">
    <a class="buttonBig" style="position: fixed; margin: 20px 20px 20px 90%" href="/" role="button">Sign Out</a>
    <a class="buttonBig" style="position: fixed; margin: 20px 20px 20px 2%" href="/bidderMain" role="button">Back</a>
    <h1>Lion Auction</h1>
</div>

<!--Contents-->
<div class="content">
    <!--Auction Listings-->
    <h2 style="text-align: center">Auction Listings: {{ data.category }}</h2>
    <form style="text-align: center" classaction="" method="post">
        <label>Select Category:</label>
        <select name="category" id="category">
            <option value=""></option>
            <option value="Root">All</option>
            {%  for category in data.categories %}
                <option value="{{ category }}">{{ category }}</option>
            {%  endfor %}
        </select>
        <button type="submit" class="buttonSmall">Submit</button>
    </form>
    <table class="table table-light">
        <tr>
            <th scope="col"> Auction Title</th>
            <th scope="col"> Product Name</th>
            <th scope="col"> Product Description</th>
            <th scope="col"> Category</th>
            <th scope="col"> Quantity</th>
            <th scope="col"> Seller Email</th>
            <th scope="col"> </th>
        </tr>
        <tbody>
        {% for category in data.listings%}
            {% for Seller_Email, Listing_ID, Category, Auction_Title, Product_Name, Product_Description, Quantity, Reserve_Price, Max_bids, Status in category %}
                <tr>
                    <td> {{ Auction_Title }} </td>
                    <td> {{ Product_Name }} </td>
                    <td> {{ Product_Description }} </td>
                    <td> {{ Category }} </td>
                    <td> {{ Quantity }} </td>
                    <td> {{ Seller_Email }} </td>
                    <td><a class="buttonSmall" href="" role="button">Bid</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>