<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <title>Bidder Main Page</title>
</head>
<body>
<!--Header-->
<div class="header">
    <a class="button" style="position: fixed; margin: 25px" href="/" role="button">Sign Out</a>
    <h1>Lion Auction</h1>
</div>

<!--User Info-->
<div class="side_bar">
    <ul>
        <li>Name: {{ data.name }}</li>
        <li>Email: {{ data.email }}</li>
        <li>Roll: {{ data.roll }}</li>
        <li>Age: {{ data.age }}</li>
        <li>Gender: {{ data.gender }}</li>
        <li>Major: {{ data.major }}</li>
        <li>Billing Address: {{ data.address }}</li>
        <li>Credit Card: {{ data.card }}</li>
    </ul>
</div>
</body>
</html>