<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <title>Bid Status</title>
</head>
<body>
<!--Header-->
<div class="header">
    <a class="buttonBig" style="position: fixed; margin: 20px 20px 20px 90%" href="/" role="button">Sign Out</a>
    <button class="buttonBig" style="position: fixed; margin: 20px 20px 20px 2%" role="button" onclick="history.back()">Back</button>
    <h1>Lion Auction</h1>
</div>

<!--Contents-->
<div class="content">
    <!--Bid Status-->
    <h2 style="text-align: center">Bid Status:</h2>
    <table style="width: 90%;">
        <tr>
            <th scope="col"> Auction Title</th>
            <th scope="col"> Your Bid</th>
            <th scope="col"> Highest Bid</th>
            <th scope="col"> Remaining Bids</th>
            <th scope="col"> Status</th>
            <th scope="col"> </th>
        </tr>
        <tbody>
        {% for auction in data%}
            <tr>
                <td> {{ auction[3] }} </td>
                <td> ${{ auction[11] }}</td>
                <td> ${{ auction[12] }}</td>
                <td> {{ auction[13] }} </td>
                {% if auction[9]==0 %}
                <td> Inactive </td>
                <td><form method="post"><button type="submit" class="buttonSmall" name="button" value=" {{ auction[1] }}">More Info</button></form></td>
                {% elif auction[9]==1 %}
                <td> Active </td>
                <td><form method="post"><button type="submit" class="buttonSmall" name="button" value=" {{ auction[1] }}">More Info / Bid</button></form></td>
                {% elif auction[9]==2 %}
                <td> Sold </td>
                <td><form method="post"><button type="submit" class="buttonSmall" name="button" value=" {{ auction[1] }}">More Info</button></form></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>