<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <title>Help Desk Main Page</title>
</head>
<body>
<!--Header-->
<div class="header">
    <a class="buttonBig" style="position: fixed; margin: 20px 20px 20px 90%" href="/" role="button">Sign Out</a>
    <h1>Lion Auction</h1>
</div>

<!--Contents-->
<div class="content">
    <div style="text-align: center">
        <!--User Info-->
        <div class="info" style="vertical-align: middle">
            <h2>User Info:</h2>
            <p>Email: {{ data.email }}</p>
            <p>Roll: {{ data.roll }}</p>
            <p>Position: {{ data.position }}</p>
        </div>
    </div>
</div>
</body>
</html>