<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <title>Login Page</title>
</head>
<body>
<!--Header-->
<div class="header">
    <h1>Lion Auction</h1>
</div>

<!--Contents-->
<div class="content">
    <!--Login Form-->
    <div class="form">
        <form action="" method="post">
            <h2>Log In:</h2>
            <label>Login as:</label>
            <select name="roll" id="roll">
                <option value="bidder">Bidder</option>
                <option value="seller">Seller</option>
                <option value="helpdesk">Help Desk</option>
            </select><br>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required class="form-control"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required class="form-control"><br>
            <button type="submit" class="buttonBig">Submit</button><br>
            <div style="padding: 25px; font-size: 20px" id="error">{{ error }}</div>
        </form>
    </div>
</div>
</body>
</html>