<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <title>Seller Main Page</title>
</head>
<body>
<!--Header-->
<div class="header">
    <a class="buttonBig" style="position: fixed; margin: 20px 20px 20px 90%" href="/" role="button">Sign Out</a>
    <h1>Lion Auction</h1>
</div>

<!--Contents-->
<div class="content">
    <div style="text-align: center">
        <!--User Info-->
        <div class="info" style="vertical-align: middle">
            <h2>User Info:</h2>
            <p>Email: {{ data.email }}</p>
            <p>Roll: {{ data.roll }}</p>
            <p>Bank Routing Number: {{ data.bank_routing_number }}</p>
            <p>Bank Account Number: {{ data.bank_account_number }}</p>
            {% if data.business_name %}
                <h2>Business Info:</h2>
                <p>Business Name: {{ data.business_name }}</p>
                <p>Business Address: {{ data.business_address }}</p>
                <p>Customer Service Phone Number: {{ data.customer_service }}</p>
            {% endif %}
        </div>

        <!--Navigation-->
        <div class="info" style="vertical-align: middle">
            <a class="buttonBig" href="/auctionStatus" role="button">Auction Status</a>
        </div>
    </div>
</div>
</body>
</html>